  <!-- Footer -->
  <footer  class="py-4 navbar-custom text-dark fixed-bottom text-center ">
    <strong>Copyright &copy;
    <span class="year"></span> NANKYA BSC Hons. (WATER RESOURCES ENGINEERING)</strong>
  </footer>

