 {% load static %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark  navbar-custom sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/1.jpg' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li 
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item  mr-3"
            {% endif %}
          >
            <a class="nav-link text-dark" href="{% url 'index' %}"><strong>Home</strong></a>
          </li>
          <li 
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item  mr-3"
            {% endif %}
          >
            <a class="nav-link text-dark" href="#"><strong>About</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>