{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<!-- The user input section -->
<section class="container overflow-auto py-3" id="">
    <div class="card">
        <div class="card-header">
            <p class="text-center par">ENERGY LOSS RECOVERY TOOL</p>
        </div>
        <div class="card-body">
            <div class="row">
                <form action="/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <p class="text-center mt-2 font-weight-bold" id="multiple"></p>

                    <div class="text-center mt-3">
                        <input class="btn btn-primary" type="submit" value="Run Simulation">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}