{% extends 'base.html' %}

{% block content %}
    <!-- The user input section -->
    <section class="container py-5" id="">
        <div class="card">
            <div class="card-body shadow table-responsive-lg">
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>Scenario</th>
                            <th>Pipe ID</th>
                            <th>Head Loss (m)</th>
                            <th>Flow/Discharge (L/s)</th>
                            <th>Hydraulic Power (KWh/day)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pipe in data %}
                            <tr>
                                <td>{{ pipe.scenario }}</td>
                                <td>{{ pipe.pipe_id }}</td>
                                <td>{{ pipe.headloss }}</td>
                                <td>{{ pipe.discharge }}</td>
                                <td>{{ pipe.hydraulic_power }}</td>
                            </tr>
                        {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container py-2 d-flex justify-content-end">
            <a class="btn btn-success " href="{% url 'energy' %}">Recover Energy</a>
        </div>
        
    </section>
{% endblock %}